@model VSoft.Models.Animal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Animal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dono.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dono.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HistoricoClinico.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HistoricoClinico.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porte.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porte.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Raca.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Raca.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anilha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anilha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsumoRacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumoRacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pelagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedigree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedigree)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
