@model VSoft.Models.Receituario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Receituario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNMedida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNMedida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceitaTexto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceitaTexto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdHistoricoClinico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHistoricoClinico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdHistoricoMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHistoricoMedicamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
